* {
    box-sizing: border-box;
}

body {
    background-color: #F6F5F5;
}

.container {
    width: 360px;
    margin: 100px auto;
    border-radius: 20px;
    background-color: #FFF;
    padding: 56px 20px 91px 20px;
}

button {
    border: none;
    background-color: #fff;
    padding: 0 8px;
}

h1 {
    padding: 0 2px;
    font-size: 32px;
    color: #000000;
    margin-top: 23px;
    font-family: 'Inter', sans-serif;
}

.search-input {
    margin-top: 17px;
    padding: 0 4px;
    width: 100%;
    height: 44px;
    border-radius: 12px;
    border: 1px solid rgb(247, 243, 243);
    background-color: #EFEFEF;
    font-size: 12px;
    color: #999999;
    padding-left: 15px;

}

.menu-items {
    padding: 0 4px;
    margin-top: 29px;
}

.position-img {
    width: 74px;
    height: 74px;
    border-radius: 12px;
    background-color: #EFEFEF;
    padding: 18px 19px;
}

.position-title {
    color: #C4C4C4;
    font-size: 16px;
    margin-top: 8px;
    font-family: 'Inter', sans-serif;
}

.menu-position {
    display: inline-block;
    margin-right: 24px;
    text-align: center;
}

.menu-position:hover .position-img {
    background-color: #EAE2B7;
}

.menu-position:hover .position-title {
    color: black;
}

h2 {
    padding: 0 4px;
    margin-top: 32px;
    color: #003049;
    font-size: 20px;
    font-family: 'Inter', sans-serif;

}

.menu-info {
    display: flex;
    align-items: center;
    margin-top: 26px;
    margin-bottom: 12px;
    box-shadow: 0 16px 20px rgba(80, 65, 2, 0.08);
    width: 100%;
    height: 88px;
    padding: 0 20px;
}

.menu-img {
    width: 80px;
    height: 70px;
    text-align: center;
}

.menu-text {
    margin-left: 12px;
}

.menu-name {
    font-size: 16px;
    margin-bottom: 8px;
    color: #003049;
    font-family: 'Inter', sans-serif;
}

.menu-price {
    color: #ff4d4d;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
}

.menu-info:last-child {
    margin-bottom: 0;
}