* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #F2F2F2;
}

.container {
    width: 1920px;
    height: 960px;
    background-color: #00A1C60D;
    margin: 200px auto 0 auto;
    padding-top: 142px;
    padding-left: 350px;
}

.text {
    font-family: "IBM Plex Sans", sans-serif;
    color: #2D3640;
}

h1>strong {
    font-size: 48px;
    font-weight: 600;
    line-height: 80px;
    letter-spacing: -0.5px
}

h1 {
    font-weight: 400;
    font-size: 48px;
    line-height: 80px;
    letter-spacing: -0.5px;


}

.produkt {
    width: 695px;
    font-weight: 400;
    font-size: 20px;
    color: #2B292D;
    line-height: 40px;
    letter-spacing: 0px;
    margin-top: 10px;
    margin-bottom: 50px;
}

.cards-wrapper {
    overflow: hidden;
}

.cards {
    width: 295px;
    height: 470px;
    background-color: white;
    float: left;
    margin-right: 20px;
    border-radius: 20px;
    padding-top: 56px;
    text-align: center;
    font-family: "Catamaran", sans-serif;
}

.cards:hover {
    background-color: lightblue;
}

.cards:last-child {
    margin-right: 0;
}

.cards-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 34px auto;
}

.cards h4 {
    color: #2D3640;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: -0.63px;

}

.professional-title {
    color: #4B4F52;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0px;
    margin-top: 5px;
    margin-bottom: 33px;
}

.logo {
    width: 50px;
    height: 50px;
    border: 3px solid white;
    border-radius: 50%;
    margin-right: 15px;
}

.logo:last-child {
    margin-right: 0;
}