* {
    box-sizing: border-box;
}

body {
    background-color: rgb(218, 218, 218);
}

.position-diia {
    position: relative;
    width: 1600px;
    margin: 500px auto;
}

.position-flag {
    position: absolute;
    width: 512px;
    height: 512px;
    background: #000000;
    top: 0;
    left: 0;
    z-index: 1;
}

.vector-img {
    position: absolute;
    width: 309px;
    height: 181px;
    top: 128px;
    left: 101px;
}

.flag {
    position: absolute;
    width: 80px;
    height: 60px;
    border-radius: 6px;
}

.flag-blue {
    position: absolute;
    width: 100%;
    height: 50%;
    top: 343px;
    left: 216px;
    background-color: #2137FC;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.flag-yellow {
    position: absolute;
    width: 100%;
    height: 50%;
    top: 373px;
    left: 216px;
    background-color: #FFCE22;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.position-square {
    position: absolute;
    width: 512px;
    height: 512px;
    z-index: 2;
}

.top-blue {
    position: absolute;
    width: 100%;
    height: 50%;
    top: 395px;
    left: 441px;
    background-color: #2137FC;
    z-index: 1;
}

.bottom-yellow {
    position: absolute;
    width: 100%;
    height: 50%;
    top: 651px;
    left: 441px;
    background-color: #FFCE22;
    z-index: 1;
}

.glyph-img {
    position: absolute;
    width: 400px;
    height: 227px;
    top: 539px;
    left: 496px;
    z-index: 2;
}

.position-circle {
    position: absolute;
    width: 512px;
    height: 512px;
    top: 811px;
    left: 856px;
    z-index: 1;
    border-top: 2px solid #2137FC;
    border-bottom: 2px solid #2137FC;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px 0px #00000040;
    background-color: #FFFFFF;
}

.position-log {
    position: absolute;
    width: 444px;
    height: 444px;
    top: 34px;
    left: 34px;
    background-color: #FFCE22;
    border-radius: 50%;
}

.glyphs-img {
    position: absolute;
    width: 358px;
    height: 203px;
    top: 215px;
    left: 43px;
}